<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>

      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <img src="./profile.png" />
    <ion-card-header>
      <ion-card-subtitle>Student ID: 301164103</ion-card-subtitle>
      <ion-card-title>Abdelrahman Tealab</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      A 26 year old developer... currently in my journey to enhance my knowledge
      and experience in mobile development. ionic seems very quick and simple !
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      A 26 year old developer... currently in my journey to enhance my knowledge
      and experience in mobile development. ionic seems very quick and simple !
    </ion-card-content>
  </ion-card>

</ion-content>
