<ion-header [translucent]="true" >
  <ion-toolbar >
    <ion-title >  Assignment 1 Pay Calculator </ion-title>
    <button left style="background-color: rgba(220, 20, 60, 0);">
        <ion-menu-button menu="main-menu"></ion-menu-button>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Calculate your pay</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div><ion-label style="margin: 10px;" color="dark">Regular pay</ion-label></div>
          </ion-col>
          <ion-col>
            <div><ion-label style="margin: 10px;" color="dark">{{regularPay| number:'1.2-2' }}</ion-label><br></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div><ion-label style="margin: 10px;" color="secondary">Overtime pay</ion-label></div>
          </ion-col>
          <ion-col>
            <div><ion-label style="margin: 10px;" color="secondary">{{overtimePay| number:'1.2-2' }}</ion-label><br></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div><ion-label style="margin: 10px;" color="danger">Tax</ion-label></div>
          </ion-col>
          <ion-col>
            <div><ion-label style="margin: 10px;" color="danger">{{tax| number:'1.2-2' }}</ion-label><br></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div><ion-label style="margin: 10px;" color="primary">Total pay</ion-label></div>
          </ion-col>
          <ion-col>
            <div><ion-label style="margin: 10px;" color="primary">{{totalPay| number:'1.2-2' }}</ion-label><br></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div><ion-label style="margin: 10px;" color="success">Net</ion-label></div>
          </ion-col>
          <ion-col>
            <div><ion-label style="margin: 10px;" color="success"><ion-text color="primary">{{totalPay| number:'1.1-1' }}</ion-text> - <ion-text color="danger">{{tax| number:'1.1-1' }}</ion-text> = {{net| number:'1.1-1' }}</ion-label><br></div>
          </ion-col>
        </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label position="floating">Number of hours worked</ion-label>
    <ion-input type="number" value="hrsWorked" [(ngModel)]="hrsWorked"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Hourly rate</ion-label>
    <ion-input type="number" value="hrlyRate" [(ngModel)]="hrlyRate"></ion-input>
  </ion-item>

  <br>
  <ion-button (click)="calculate(hrsWorked,hrlyRate)" style="bottom: 5%; position: absolute; width: 90%; left: 5%;" expand="block">Calculate</ion-button>

</ion-content>
